<div class="container">
	<h3>Add a new item</h3>
	<br>
	<div class="col-md-4">
		<%= simple_form_for @item do |f| %>
		  <%= f.error_notification %>
		  <div class="form-inputs">
		    <%= f.input :title, :label => "Title" %>
		  </div>
	</div>
	<div class="col-md-4">
		    <%= f.input :price, hint: 'No special characters' %>
	</div>
		    <%= f.input :happiness, collection: 0..10 %>
	<div class="col-md-4">
		  </div>
		  <br>
		  <div class="form-actions">
		    <%= f.button :submit, :class => "btn btn-primary" %>
		  </div>
	</div>
		<% end %>
	</div>
</div>
