  <div class="page-header">
    <h1>Your ranked items sorted by H Index</h1>
  </div>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Happiness</th>
        <th><%= link_to 'H Index', "/items/show/" %></th>
        <th><%= link_to 'Delete All', '/items/index/' %></th>
      </tr>
    </thead>
<% if user_signed_in? %>
    <tbody>
      <% @items.order("happines_index DESC").each do |p| %>
      <tr>
        <td>
          <%= p.title %>
        </td>
        <td>
          $<%= p.price %>
        </td> 
        <td>
          <%= p.happiness %>
        </td>
        <td>
          <%= p.happines_index %>
        </td>
        <td>
          <%= button_to 'Delete', p,:method => :delete, :class => "btn btn-danger no-link-deco" %>    
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

<%= render "shared/form" %>
<% end %>